 <style type="text/css">

 .emample{
 	text-align: center;
 	padding-top:30px;
 }

 .split-line{
 	width:100%;
 	border-bottom: 1px dashed #999;
 	margin:20px 0;
 }


.show-box{
    margin:0 auto; 
    float:none; 
    background:#fff; 
}

 .tip-bubble{
	padding-left:20px;
	padding-right:20px;
	border-radius: 30px;
	text-align: center;
	background-color: #000;
	opacity: 0.7;
	font-size: 13px;
	color:white;
	z-index: 1000;
	border:none;
	cursor: default;
	min-width: 100px;
	height:30px;
	line-height: 30px;
	position: fixed;
	top:50%;
	left:50%;
	margin-left:-50px;
	display: none;
}

</style>


 <!-- 测试页 -->
<div class="emample">

	<h3>示例页</h3>

	<div class="tip-bubble" id="tipBubble">hellohello</div>

	<div>
		取值&nbsp;
	    <a href="javascript:void(0);" data="1" ng-click="goPage($event)">1</a>
	    <a href="javascript:void(0);" data="2" ng-click="goPage($event)">2</a>
	    <a href="javascript:void(0);" data="3" ng-click="goPage($event)">3</a>
	    <a href="javascript:void(0);" data="4" ng-click="goPage($event)">4</a>
	    <a href="javascript:void(0);" data="5" ng-click="goPage($event)">5</a>
	</div>

	<div class="split-line"></div>

    <!-- 表单验证 -->
    <h3>表单验证示例(ng-message)</h3>
    <div class="col-md-5 show-box">
        <form name="userForm" novalidate>
            <div class="form-group" ng-class="{'has-error':userForm.name.$touched && userForm.name.$invalid}">
                <label>用户名</label>
                <input type="text" name="name" class="form-control" ng-model="user.name" ng-minlength="5" ng-maxlength="10" required/>

                <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
                    <p ng-message="minlength">用户名最小长度5</p>
                    <p ng-message="maxlength">用户名最大长度10</p>
                    <p ng-message="required">用户名必填</p>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error':userForm.email.$touched && userForm.email.$invalid}">
                <label>邮箱</label>
                <input type="email" name="email" class="form-control" ng-model="user.email" ng-minlength="5" ng-maxlength="20" required/>
     
                <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                    <p ng-message="email">邮箱格式错误</p>
                    <p ng-message="minlength">邮箱最小长度5</p>
                    <p ng-message="maxlength">邮箱最大长度10</p>
                    <p ng-message="required">邮箱必填</p>
                </div>
                </div>

            <div class="form-group">
                <button type="submit" class="btn btn-info" ng-disabled="userForm.$invalid">提交</button>
            </div>
        </form>
    </div>

</div>

